.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 5em;
}

.App-intro {
  font-size: large;
}

.images {
  height: 200px;
  width: 200px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.subtitle {
  float: right;
  padding-right: 90px;
  padding-top: 100px;
  text-align: left;
}
